table {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
}

td, th {
    width: 25%;
    padding: 10px;
    text-align: left;
    margin: 0;
}


tbody tr:nth-child(2n){
  background-color: #eee;
}

th {
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
}
tr {
    
}

.job-item__link {
        color: #333;
        text-decoration: none;
} 
.job-item__render{
    border-bottom: 1px solid #EEEEEE;
}
.all-jobs-table__hover {
    transition: all ease .5s;
    &:hover {
        background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(100,100,100, .1) 100%);
    }
}
.job-data__filter {
    background: #f7f7f7;
    text-align: center;
    
}

//---------------- input field -----------//
.inp{
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
}
  
  //transform: rotateX(45deg) rotateY(-10deg) rotate(25deg) scale(2)
.label{
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098A9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all .2s ease;
}
.border{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #0077FF;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all .15s ease;
}
.job-data__filter__input{
    -webkit-appearance: none;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    width: 100%;
    height: 2rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    border-bottom: 2px solid #C8CCD4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all .15s ease;
    &:hover {
        background: rgba(#223254,.03);
    }
    &:not(:placeholder-shown){
        span{
            color: #5A667F;
            transform: translateY(-26px) scale(.75);
        }
    }
    &:focus{
        border-bottom: 2px solid $med-blue;
        background: none;
        outline: none;
        span{
        color: #0077FF;
            transform: translateY(-26px) scale(.75);
        }
        .border{
            transform: scaleX(1);
        }
        
    }
}
