//Colors
$dark-grey: #333333;
$dark-blue: #5680E9;
$med-blue: #5AB9EA;
$light-blue: #84CEEB;
$light-purple: #C1C8E4;
$dark-purple: #8860D0;
//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;